<aside class="row usuariomensaje">
  <img class="fotoperfil rounded-circle col-3" src="https://goo.gl/qSXiwb" alt="Generic placeholder image" style="margin-left: -7px;">
  <div class="col-md-8" style="margin-left: -15px;">
    <h5 class="text-left mititulo">Alejandro Cruz</h5>
    <label class="textgray">Messenger</label>
  </div>
</aside>
<aside class="row enviarmanita">
  <div class="col-md-12">
    <hr style="margin-top: 0px;">
    <p class="textgray">Opciones</p>
  </div>
  <a class="col-2" href="#">
    <i class="fa fa-thumbs-up fa-2x"></i>
  </a>
  <p class="col-10 enviarmanita">Enviar manita de Like</p>
</aside>