$height: 100vh;
header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  min-height: 52.5px;
  margin-left: -15px;
  margin-right: -15px;
  h1 {
    font-weight: 400;
    font-size: 14px;
    margin-top: 16px;
    text-align: center;
  }
  h2 {
    color: rgba(0, 0, 0, 0.4);
    font-size: 11px;
    font-weight: normal;
    margin-top: -10px;
    text-align: center;
  }
}

app-rightbarmessenger {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  height: $height;
}
app-sidebarconversaciones {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
